@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: "Raleway", serif;
}

p {
    font-size: 1rem;
}

html {
    height: 100% !important;
}

.flex-container {
    padding-left: .8em !important;
    padding-right: .8em !important;
}

/* Nav bar */
.navbar {
    background-color: rgba(26, 62, 85, 0.88);
}

.nav-link,
.navbar-brand {
    color: rgba(141, 162, 180, 0.9);
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #4bb2f9 !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

/* header style */
header {
    background-image: url(../images/Book_example_cad_s.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    padding: env(safe-area-inset) !important;
}

.overlay_header {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.47);
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 1em;
}

.description h1 {
    color: rgba(11, 29, 43, 0.87);
    font-size: 6em;
}

.description p {
    color: rgba(73, 73, 73, 0.88);
    font-size: 1.5em;
    width: 100%;
    line-height: 1.5;
}

.arrow {
    box-sizing: border-box;
    height: 3em;
    width: 3em;
    position: absolute;
    top: 80%;
    left: 50%;
    border-style: solid;
    border-color: #071b43;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    transition: border-width 100ms ease-in-out;
}

.arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
}


/* Profile cards */
.card-body {
    text-align: center;
}

.card {
    background: rgba(82, 112, 122, 0.09);
}

.card:hover {
    box-shadow: 0 12px 24px 0 rgba(76, 183, 255, 0.53);
    -webkit-filter: opacity(100%);
    background: rgba(47, 127, 201, 0.12);
    /* Safari 6.0 - 9.0 */
    filter: opacity(100%);
}

.zoom {
    transition: transform .05s; /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* boundaries */

.parallax {
    /* Create the parallax scrolling effect */
    height: 40px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax.sep-1{
    background: linear-gradient(rgba(97, 166, 246, 0.96), rgba(9, 6, 154, 0.84));
    background-attachment: fixed;
}

.parallax.sep-2 {
    background: linear-gradient(rgba(144, 123, 218, 0.86), rgb(71, 13, 172));
    background-attachment: fixed;
}

.parallax.sep-3 {
    background: linear-gradient(rgba(24, 240, 12, 0.6), rgba(13, 153, 57, 0.82));
    background-attachment: fixed;
}

.parallax.sep-4 {
    background: linear-gradient(rgba(239, 37, 68, 0.62), rgba(198, 29, 56, 0.88));
    background-attachment: fixed;
}

.parallax.sep-5 {
    background: linear-gradient(rgba(235, 98, 191, 0.73), rgba(157, 16, 79, 0.93));
    background-attachment: fixed;
}

/* Footer */
.footer {
    background: #061D25;
    padding: 10px 0;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all 0.5s ease;
    text-decoration: none;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer a:hover {
    color: #4bb2f9;
}

/*Bootstrap 4 breakpoints*/
/* xs screen */
@media (max-width: 542px) {
    header {
        background-image: url(../images/Book_example_cad_xs.jpg);
    }

    .description {
        top: 15%;
    }

    .card-deck {
        padding-left: 1.5em !important;
        padding-right: 1.5em !important;
    }
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    p {
        font-size: 1rem;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    p {
        font-size: 1.1rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    p {
        font-size: 1.1rem;
        line-height: 1.5;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    p {
        font-size: 1.2rem;
        line-height: 1.6;
    }

}


/* Protect iPhone safe areas */
@supports (padding: max(0px)) {
    .body {
        padding-left: max(12px, env(safe-area-inset-left));
        padding-right: max(12px, env(safe-area-inset-right));
    }
}
