@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: "Raleway", serif;
}

/*body {*/
    /*font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));*/
    /*line-height: calc(1.5em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));*/
/*}*/

html {
    height: 100% !important;
}


/* Nav bar */
.navbar {
    background-color: rgba(26, 62, 85, 0.88);
}

.nav-link,
.navbar-brand {
    color: rgba(141, 162, 180, 0.9);
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #4bb2f9 !important;
}

.navbar-collapse {
    justify-content: flex-end;
}


.flex-container {
    width: 100%;
    padding-left: .8em !important;
    padding-right: .8em !important;
    margin-right: auto;
    margin-left: auto;
}


/* header style */
header {
    background-image: url(../images/Book_example_cad_s.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    padding: env(safe-area-inset) !important;
}

.header .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.47);
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 1em;
}

.description h1 {
    color: rgba(11, 29, 43, 0.87);
    font-size: 6em;
}

.description p {
    color: rgba(73, 73, 73, 0.88);
    font-size: 1.5em;
    width: 100%;
    line-height: 1.5;
}

/*.description button {*/
    /*border: 1px solid #35adf9;*/
    /*background: #35adf9;*/
    /*color: #071b43;*/
/*}*/
/*.description i {*/
    /*color: #071b43;*/
    /*width: 90px;*/
    /*height: 90px;*/
/*}*/

.arrow {
    box-sizing: border-box;
    height: 3em;
    width: 3em;
    position: absolute;
    top: 80%;
    left: 50%;
    border-style: solid;
    border-color: #071b43;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    transition: border-width 100ms ease-in-out;
}

.arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
}


/* Profile cards */
.card-body {
    text-align: center;
}

.card {
    background: rgba(82, 112, 122, 0.09);
}

.card:hover {
    box-shadow: 0 12px 24px 0 rgba(35, 144, 255, 0.53);
    -webkit-filter: opacity(100%);
    background: rgba(47, 127, 201, 0.12);
    /* Safari 6.0 - 9.0 */
    filter: opacity(100%);
}

.zoom {
    transition: transform .025s; /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* boundaries */

.parallax {
    /* Create the parallax scrolling effect */
    height: 40px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax.sep-1{
    background: linear-gradient(rgba(97, 166, 246, 0.96), rgba(9, 6, 154, 0.84));
    background-attachment: fixed;
}

.parallax.sep-2 {
    background: linear-gradient(rgba(152, 131, 246, 0.96), rgba(97, 166, 246, 0.96));
    background-attachment: fixed;
}

.parallax.sep-3 {
    background: linear-gradient(rgba(246, 143, 245, 0.96), rgba(152, 131, 246, 0.96));
    background-attachment: fixed;
}

.parallax.sep-4 {
    background: linear-gradient(rgba(246, 77, 95, 0.96), rgba(246, 143, 245, 0.96));
    background-attachment: fixed;
}

.parallax.sep-5 {
    background: linear-gradient(rgba(246, 162, 69, 0.96), rgba(246, 77, 95, 0.96));
    background-attachment: fixed;
}

.parallax.sep-6 {
    background: linear-gradient(rgba(62, 212, 65, 0.96), rgba(246, 162, 69, 0.96));
    background-attachment: fixed;
}
/* Footer */
.footer {
    background: #061D25;
    padding: 10px 0;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all 0.5s ease;
    text-decoration: none;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer a:hover {
    color: #4bb2f9;
}


.fit {
    font-size: 16.5px;
    margin-top: 2%;
    margin-bottom: 10%;
    line-height: 1.4em;
    color: #d9e0e6;
}


.hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 350px;
    height: 350px;
    background: rgba(11, 11, 28, 0.8);
    color: #fff;

    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
    opacity: 1;
}

.hvrbox .hvrbox-text {
    position: absolute;
    padding: 2%;
    width: 100%;
}


.hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}
.hvrbox.active .hvrbox-text_mobile {
    display: block;
}


a:hover {
    text-decoration: none;
}